@charset "UTF-8";

body{
	font-size:small;
}

div {
/* 	border:  1px solid red; */
/* 	padding: 5px; */
    box-sizing: border-box; /*box사이즈는 border를 기준으로 하겠다!*/
}
/*우선순위가 더 높기 때문에 div.container가 적용된다.*/ 
div.container{
	
    width:700px;
 
}

.container > header{
    border: 1px solid red;
}

.container > header #app-name{
	float: left;
}

.container > header a {
	float:right;
}



.container > footer{
	position: relative;
	font-size:80%;
}

.container > footer  #app-name{
	position: absolute;
	left: 0px;
	top:0px;
	
}

.container > footer  #copyright{
	position: absolute;
	right: 0px;
	top: 0px;
	
}